/*
    Folha de estilo do site Hotel Serenidade 
*/

/* Importação Google Fonts >>>>>>*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset >>>>>*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: rgb(255, 255, 255);
}

/* Layout >>>>>*/
.container {
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}
/* Smartphone Portrait >>>>>*/
header {
    height: 60px;
}

#logo img {
    width: 110px;
    height: 110px;
}

#check {
    display: none;
}

label {
    font-size: 2em;
    padding-right: 15px;
    position: fixed;
    top: 10px; 
    right: 10px; 
    z-index: 1000; 
    color: #000; 
}

nav ul {
    list-style: none;
    background-color: #343538;
    height: 100vh;
    top: 60px;
    position: fixed;
    width: 100%;
    right: -100%;
    transition: all 0.5s;
}

#check:checked ~ ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid #57585a;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
/* Smartphone Landscape >>>>>*/
@media (min-width: 576px) {

    /* Layout >>>>>*/
    .container {
        max-width: 540px;
    }
}

/* Tablet Portrait >>>>>*/
@media (min-width: 768px) {

    /* Layout >>>>>*/
    .container {
        max-width: 720px;
    }
}

/* Tablet Landscape >>>>>*/
@media (min-width: 992px) {

    /* Layout >>>>>*/
    .container {
        max-width: 960px;
    }
}

/* PC >>>>>*/
@media (min-width: 1200px) {

    /* Layout >>>>>*/
    .container {
        max-width: 1140px;
    }

    /* Cabeçalho >>>>>*/
    header {
        height: 120px;
    }
    #logo img {
        width: 189px;
        height: 189px;
        margin-top: 30px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        height: auto;
        background-color: transparent;
        margin-bottom: 150px;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: #343538;
    }

    nav ul li a:hover {
        color: #ff4800;
    }
}