/*
    Folha de estilo do site Hotel Serenidade 
*/

/* Importação Google Fonts >>>>>>*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset >>>>>*/
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #000000;
    font-weight: 700;
    background-color: rgb(255, 255, 255);
}

/* Layout >>>>>*/
.container {
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex2 {
    display: flex;
    align-items: center;
}

.flex3 {
    display: flex;
    flex-direction: column;
}
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.Botao {
    text-decoration: none;
    color: #fff;
    font-size: 1.3em;
    font-weight: 700;
    background-color: #1d3a41;
    padding: 10px 25px;
    border: 2px solid #fff;
    border-radius: 25px;
}

/* Smartphone Portrait >>>>>*/
header {
    height: 60px;
}

#logo img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
}

#check {
    display: none;
}

label {
    font-size: 2em;
    padding-right: 15px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    color: rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    background-color: rgba(52, 53, 56, 0.95);
    height: 100vh;
    top: 60px;
    position: fixed;
    width: 65%;
    right: -65%;
    transition: all 0.5s;
}

#check:checked~ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid #57585a;
    text-align: right;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Destaque >>>>>*/
main {
    height: 75vh;
    background: url(img/quarto_celular.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
}

main h1 {
    font-size: 2.5em;
}

main h2 {
    font-size: 1.2em;
    margin: 20px 0px 50px 0px;
}

main h1,
main h2 {
    text-shadow: #000 0.05em 0.05em 0.05em;
}

/* Sobre >>>>>*/

#sobre {
    background-color: #f5f5f5;
    padding: 50px 0px;
    background: url(img/back1.png);
    background-position: center;
    background-size: cover;
    color: #D3D3D3;
    text-shadow: #000 0.05em 0.05em 0.05em;
}

#destaqueSobre {
    display: none;
}

#textoSobre {
    padding: 0px 20px;
}

#textoSobre h2 {
    margin-bottom: 10px;
}

.topicosSobre {
    margin-top: 20px;
}

.topicosSobre img {
    margin-right: 10px;
}

/* Vídeo >>>>>*/
#descubramais {
    padding: 50px 10px;
}

#descubramais h2 {
    margin-bottom: 10px;
}

#descubramais p {
    margin-bottom: 25px;
}

#video iframe {
    width: 340px;
    height: 191px;
    border: 0;
}

/* Smartphone Landscape >>>>>*/
@media (min-width: 576px) {

    /* Layout >>>>>*/
    .container {
        max-width: 540px;
    }

    /* Vídeo >>>>>*/
    #video iframe {
        width: 560px;
        height: 315px;
    }
}


/* Tablet Portrait >>>>>*/
@media (min-width: 768px) {

    /* Layout >>>>>*/
    .container {
        max-width: 720px;
    }

    /* Destaque >>>>>*/
    main {
        height: 40vh;
        background: url(img/quartoatt.jpg);
        background-size: cover;
    }

    main h1 {
        font-size: 5.5em;
    }

    main h2 {
        font-size: 2.5em;
    }
}

/* Tablet Landscape >>>>>*/
@media (min-width: 992px) {

    /* Layout >>>>>*/
    .container {
        max-width: 960px;
    }

    /* Destaque >>>>>*/
    main {
        height: 70vh;
    }
}

/* PC >>>>>*/
@media (min-width: 1200px) {

    /* Layout >>>>>*/
    .container {
        max-width: 1140px;
    }

    /* Cabeçalho >>>>>*/
    header {
        height: 120px;
    }

    #logo img {
        width: 189px;
        height: 189px;
        margin-top: 30px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        height: auto;
        width: 100%;
        background-color: transparent;
        margin-bottom: 150px;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: #343538;
    }

    nav ul li a:hover {
        color: #ff4800;
    }

    /* Sobre >>>>>*/
    #sobre {
        background-attachment: fixed;
    }

    #destaqueSobre {
        display: inline;
    }

    #destaqueSobre img {
        width: 300px;
        height: 300px;
        margin-right: 50px;
        border-radius: 50%;
    }

    /* Vídeo >>>>>*/
    .flex3 {
        flex-direction: row;
        align-items: center;
    }
}